exportPattern("^[[:alpha:]]+")
importFrom(vegan,diversity)
importFrom(vegan,vegdist)
importFrom(vegan,adonis)
importFrom(vegan,estimateR)
importFrom(ape,pcoa)
import(ggplot2)
import(grid)
import(gtable)
importFrom(plyr,create_progress_bar)
importFrom(dplyr,inner_join)
importFrom(dplyr,full_join)
importFrom(dplyr,group_by)
importFrom(dplyr,summarise)
import(multcomp)
import(patchwork)
importFrom(fs,file_move)
import(stringr)
importFrom(ggiraph,girafe)
importFrom(htmlwidgets,saveWidget)
importFrom(ggpubr,stat_compare_means)
importFrom(randomForest,randomForest)
importFrom(randomForest,varImpPlot)
importFrom(htmlwidgets,saveWidget)
importFrom(plyr,alply)
importFrom(dplyr,inner_join)
importFrom(purrr,reduce)
importFrom(reshape2,melt)
importFrom(psych,corr.test)
importFrom(igraph,graph_from_adjacency_matrix)
importFrom(igraph,V)
importFrom(igraph,delete.vertices)
importFrom(igraph,E)
importFrom(igraph,get.vertex.attribute)
importFrom(igraph,plot.igraph)
importFrom(igraph,degree)
importFrom(igraph,layout_in_circle)
importFrom(table1,table1)
importFrom(VIM,aggr)
importFrom(pROC,roc)
importFrom(corrplot,corrplot)
S3method(grid.draw,pheatmap)
S3method(print,pheatmap)
import(RColorBrewer)
import(grDevices)
import(scales)
import(stats)




